version: '3.8'

services:
  webapi:
    image: webapi
    build:
      context: .
      dockerfile: WebApi/Dockerfile
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080

  webapp:
    image: webapp
    build:
      context: .
      dockerfile: WebApp/Dockerfile
    ports:
      - "5002:8080"
    depends_on:
      - webapi