@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<progress id="progress" value="0" max="500"></progress>
<div id="pitch"></div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Voice pitch.</h1>
        <p class="lead text-muted">The simplest voice pitch detector based on auto-correlation.</p>
        <p>
            <a href="#" class="btn btn-primary my-2" onclick="loadPitches()">Load Pitches</a>
            <a href="#" class="btn btn-success my-2" onclick="start()">Start</a>
        </p>
    </div>
</section>
<ul id="pitchList" class="list-group list-group-flush"></ul>

<script>
    let socket;
    let audioContext;
    let processor;

    async function start() {

        socket = new WebSocket("ws://localhost:5001/api/voicepitch/ws");

        socket.onopen = () => {
            console.log("WebSocket connected");
        };

        socket.onmessage = (event) => {
            document.getElementById("pitch").innerText = event.data + " Hz";
            document.getElementById("progress").value = event.data;
        };

        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });

        audioContext = new AudioContext({ sampleRate: 44100 });
        const source = audioContext.createMediaStreamSource(stream);

        processor = audioContext.createScriptProcessor(2048, 1, 1);

        source.connect(processor);
        processor.connect(audioContext.destination);

        processor.onaudioprocess = (e) => {

            const input = e.inputBuffer.getChannelData(0);

            const floatArray = new Float32Array(input);

            if (socket.readyState === WebSocket.OPEN) {
                socket.send(floatArray.buffer);
            }
        };
    }

    async function loadPitches() {
        const response = await fetch("http://localhost:5001/api/VoicePitch/getpitches");

        const data = await response.json();

        const list = document.getElementById("pitchList");
        list.innerHTML = "";

        data.forEach(item => {
            const li = document.createElement("li");
            li.className = "list-group-item";
            li.textContent = item.name + ": " + item.value;
            list.appendChild(li);
        });
    }
</script>

